<h1 class="main-headings">
  Journals
</h1>
<div class="row">
  {{#each journals}}
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image center-align white-text">
          <h5>
            {{title}}
          </h5>
          {{#if user}}
            {{{editIcon user.id ../user.id id}}}
          {{/if}}
        </div>
        <div class="card-content center-align">
          <p class="journal-text">
            {{stripTags (truncate body 90)}}
          </p>
          <br />
          <a href="/journals/user/{{user.id}}" class="chip">
            <img src={{user.image}} alt="user image" />
              {{user.firstName}}
              {{user.lastName}}
            </a>  
          </a>
        </div>
        <div class="card-action center-align">
          <a class="btn blue-grey" href="/journals/show/{{id}}">
            Read More
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p>
      No Journals Found
    </p>
  {{/each}}
</div>